.container-alumno{
    padding: 25px;
    width: 100%;
    gap: 20px;;
    display: flex;
    /* height: 50vh; */
    flex-direction: row;
    justify-content: left;
    justify-items: left;

}

.info-alumno{
    padding: 10px;
    border-radius: 5px;
    border: 2px solid gray;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    gap: 10px;
}
.img-alumno{
    margin: auto;
    width: 80%;
}

.info-materias{
    margin: auto;
    width: 80%;
    height: 80vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: center;
    /* justify-content: center; */
    
}

.materia{
    
     margin: 5px; 
     border:  1px solid rgb(54, 54, 54); 
     border-radius: 10px;
     width: 22.5%;

}
.materia-uf{

    width: 100%;
}
.materia-tabla{
    text-align: center;
    margin: auto;
    width: 100%;
    /* border:  1px solid rgb(54, 54, 54); */
}
.info-alumno img{
    aspect-ratio: 1/1;
}

.datos-alum{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}

@media (max-width: 900px){

    .materia{            
        width: 25%;
    }

}

@media (max-width: 800px){

    .materia{            
        width: 100%;    
    }
    /* .info-alumno{
        width: 100%;
    } */

    .container-alumno{
        flex-direction: column;
    }
    .info-alumno{
        height: 20vh;
        width: 100%;
        flex-direction: row;
        justify-content: center;
        justify-items: center;
    }

    .info-materias{
        width: 100%;
        height: 60vh;
    }
    .info-alumno img{
        
        height: 90%;
        width: auto;
    }

}