/* Google Fonts Import Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


body{
    background:#E4E9F7;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    text-align: center;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}
.form{
    
    width:50%; 
    /* height:640px;  */
    padding: 50px;
    background:#e6e6e6;
    border-radius:8px;
    box-shadow:0 0 40px -10px #000;
    margin: auto;
    /* margin:calc(50vh - 220px) auto; */
    padding:20px 30px;
    /* max-width:calc(100vw - 40px); */
    box-sizing:border-box;
    font-family: 'Poppins' , sans-serif;
    position:relative;

}
.form h2{
    
    margin:10px 0;
    padding-bottom:10px;
    width:100%;
    color:#78788c;
    border-bottom:3px solid #78788c;
    letter-spacing: 0.1em;
    text-align: left;
}

.inputBox {
    position: relative;

    width: 100%;

    margin-top: 10px;

    flex-direction: row;
    justify-content: center;
    justify-items: center;
    text-align: center;
}

.flex {

    flex-direction: row;
    justify-content: left;
    justify-items: left;
    text-align: left;

    color:#78788c;
    
}

.inputBox input {
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    border: none;
    outline: none;
    color: #E4E9F7;
    font-size: 1em;
    letter-spacing: 0.05em;
    z-index: 10;
}

.inputBox span {
    position: absolute;
    left: 0;
    padding: 20px 10px 10px;
    font-size: 1em;
    color: #8f8f8f;
    pointer-events: none;
    letter-spacing: 0.05em;
    transition: 0.5s;
}

.inputBox input:valid ~ span,
.inputBox input:focus ~ span {
    color: #78788c;
    transform: translateX(-10px) translateY(-34px);
    font-size: 0.75em;
}

.inputBox i {
    position: absolute;

    left: 0;
    bottom: 0;

    width: 100%;
    height: 2px;

    background: #78788c;

    border-radius: 4px;

    transition: 0.5s;

    pointer-events: none;

    z-index: 9;
}

.inputBox input:valid ~ i,
.inputBox input:focus ~ i {
    height: 44px;
}

.send {

    margin-top: 25px;

    border: none;
    outline: none;

   
    padding: 11px 25px;

    width: 30%;

    display: flex;
    text-align: center;
    justify-content: center;

    border-radius: 8px;


    cursor: pointer;

}

.send:hover {
    
    opacity: 0.8;
    transition: 0.3s;

}

.btn-space{
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content:end;
}

.enviar{
    color: #fff;
    background:#6794f7;
}

.cancelar{
    position: fixed;
    width: 100px;
    top: 5px;
    right: 50px;
    color: #fff;
    background:#ff4646;
}